.container{

    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;

}


.verde{

    background-color: green;
    width: 500px;
    height: 500px;
    position: relative;
    margin-left: -19.3vw;
    margin-top: 85vh;
}

.amarela{

    background-color: yellow;
    width: 500px;
    height: 500px;
    position: relative;
    left: 72.3vw;
    top: 80vh;

}

.azul{

    background-color: blue;
    width: 500px;
    height: 500px;
    position: relative;
    margin-left: 85vw;
    margin-top: 0.5vh;
          
}

.vermelha{

    background-color: red;
    width: 500px;
    height: 500px;
    position: relative;
    left: 0.2vw;
    top: 0.5vh;
}