*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login{

    & .login2{
        margin-right: 80px;
    }
    & .senha2{
        margin-right: 79px;
    }
}