body{

    display: flex;
    align-items: center;
    justify-content: center;

}

th, td {
    padding: 2px;
    text-align: left;
}

.container{
    background-image: url(gato.jpg);
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: 2% 3%;
    border: solid 1px green;
    background-color: rgba(0, 175, 0, 0.301);
    height: 97vh;
    width: 50vw;

    & .cad{

        border: solid 1px black;
        background-color: white;
        color: green;
        position: relative;
        left: 20%;
        top: 2%;

    }
    
    & .coment2{

        color: green;
        background-color: white;
        border: solid 1px black;
        width: 80px;

        position: relative;
        margin-left: 20%;
        top: -0.01%;
        margin-top: 1%;
    }
}

.container2{

    color: green;
    height: 30vh;
    margin-top: 0.5%;
    margin-left: 18%;
    margin-right: 5%;
    padding: 15%;
    border: solid 1px black;

    & .Dados{

        height: 18vh;
        width: 17vw;
        border: solid 1px black;
        position: relative;
        margin-left: -25%;
        top: -40%;

        background-image: url(gato.jpg);
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: 80%;


        & .Nome{

            border: solid 1px;
            background-color: white;
            position: relative;
            margin-left: 10px;
            margin-top: -10px;
        
            width: 100px;
        
        }        
    }

    & .local{
        
        height: 18vh;
        width: 17vw;
        border: solid 1px black;
        position: relative;
        margin-top: -30.3vh;
        margin-left: 12vw;

        background-image: url(gato.jpg);
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: 80%;

        & .local1{

            border: solid 1px;
            background-color: white;
            position: relative;
            margin-left: 10px;
            margin-top: -10px;
            width: 6vw;

        }
    }

    & .faixa{
        display: flex;
        border: solid 1px black;
        width: 34.9vw;
        height: 12vh;
        position: relative;
        margin-top: 2vh;
        margin-left: -5.9vw;

        background-image: url(gato.jpg);
        background-repeat: no-repeat;
        background-size: 15%;
        background-position: 75%;


        & .idade1{

            position: relative;
            margin-top: 2vh;
            margin-left: -2vw;

        }

        & .idade2{

            position: relative;
            margin-top: 2vh;
            margin-left: 8vw;

        }
        & .faixa1{

            width: 80px;
            height: 20px;
            border: solid 1px;
            background-color: white;
            position: relative;
            margin-left: 10px;
            margin-top: -10px;
            
        }
    }

    & .esportes_pratica{

        border: solid 1px black;
        margin-top: 3vh;
        margin-left: -5.9vw;
        width: 34.9vw;

        background-image: url(gato.jpg);
        background-repeat: no-repeat;
        background-size: 25%;
        background-position: 75%;


        & .pratica2{

            line-height: 1;
            padding: 0%;
            margin: 0%;
            font-size: small;

            position: relative;
            margin-top: -2vh;

        }
        & .pratica{

            border: solid 1px black;
            background-color: white;
            width: 10vw;

            position: relative;
            margin-top: -1.5vh;
            margin-left: 0.5vw;

        }

    }
}
.container3{

    color: green;
    height: 25vh;
    margin-top: -3%;
    margin-left: 18%;
    margin-right: 5%;
    border: solid 1px black;
    
    background-image: url(gato.jpg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 95%;

    & .comentario{

        width: 4vw;
        position: relative;    
        margin-left: 3vw;
        margin-top: 3vh;

    }

    & .comentario2{

        position: relative;
        margin-left: 3vw;

    }
    
}

.botao{

    position: relative;
    margin-left: 9vw;
    margin-top: 1vh;

}
