body{

    display: flex;
    align-items: center;
    justify-content: center;

}
.container{

    background-color: rgba(0, 175, 0, 0.301);
    height: 94vh;
    width: 50vw;

    & .cad{

        border: solid 1px;
        background-color: white;
        position: relative;
        left: 20%;
        top: 3%;

    }
    

}
.container2{

    height: 30vh;
    margin-top: 2%;
    margin-left: 18%;
    margin-right: 5%;
    padding: 15%;
    border-color: black;
    border: solid 1px;

}

.Dados{

    border: solid 1px;
    position: relative;
    left: -25%;
    top: -40%;

}

.Nome{

    border: solid 1px;
    background-color: white;
    position: relative;
    margin-left: 10px;
    margin-top: -10px;

    width: 100px;

}